h1{
    color:midnightblue;
    text-align: center;
}
#primeiro{
    color:blue;
}
#segundo{
    color:violet;
}
#terceiro{
    color:magenta;
}
#quarto{
    color:blueviolet
}
#quadrado{
    width: 70px; /* Comprimento */
    height: 40px; /* Altura */
    background-color: rgb(40, 0, 92); /* COr de fundo */
}
#quadrado2{
    width: 70px; /* Comprimento */
    height: 40px; /* Altura */
    background-color: rgb(0, 57, 110); /* COr de fundo */
}
#quadrado3{
    width: 70px; /* Comprimento */
    height: 40px; /* Altura */
    background-color: rgb(74, 0, 88); /* COr de fundo */
}
#letra{
    color:aliceblue
}



